/*
Fonts Used
font-family: 'Merriweather', serif;
font-family: 'Work Sans', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

h1,
h2 {
    font-family: 'Merriweather', serif;
    text-align: center;
}

span {
    font-weight: bold;
}

@keyframes about-me-background {
    0% {
        background-color: rgb(245, 251, 126);
    }
    50% {
        background-color: rgb(100, 240, 250);
    }
    100% {
        background-color: rgb(245, 251, 126);
    }
}


/*
Media query for screen size LESS THAN 600px
*/

@media all and (max-width: 600px) {
    #about-me {
        display: flex;
        flex-direction: column-reverse;
    }
    #about-me-img-container {
        display: flex;
        justify-content: center;
        border: solid black 1vw;
        border-style: double;
        margin: 4vw;
    }
    #about-me-img-container>img {
        height: 40vw;
        border-radius: 50%;
        border: solid black 0.5vw;
        animation: about-me-background 4s ease-in infinite;
        margin: 2vw;
    }
    #about-me-text-container {
        border: solid black 1vw;
        border-style: double;
        margin: 4vw;
    }
    #about-me-text-container>h1 {
        margin: 2vw 3vw 1vw 3vw;
    }
    #about-me-first-text {
        margin: 1vw 4vw 4vw 4vw;
        line-height: 150%;
    }
    #education>h2,
    #tech-skills>h2 {
        margin: 1vw;
        font-size: 1.2em;
    }
    #education,
    #tech-skills {
        margin-bottom: 4vw;
    }
    #education>p {
        text-align: center;
        line-height: 150%;
        margin: 1vw 2vw 4vw 2vw;
    }
    #tech-skills>ul {
        margin: 1vw 3vw 4vw 8vw;
    }
    #tech-skills>ul>li {
        margin-bottom: 2vw;
        line-height: 150%;
    }
    #resume {
        margin: 1vw 4vw 4vw 4vw;
        font-size: 1.2em;
        text-align: center;
    }
    #projects {
        border: solid black 1vw;
        border-style: double;
        margin: 4vw;
    }
    #projects>h1 {
        margin: 2vw 3vw 1vw 3vw;
    }
    #projects>div {
        display: flex;
        flex-direction: column;
    }
    .individual-project {
        border: solid black 0.5vw;
        margin: 4vw;
    }
    .individual-project>h2 {
        font-size: 1em;
        margin: 2vw 2vw 2vw 3vw;
        text-align: left;
        line-height: 150%;
    }
    .individual-project>a {
        margin: 3vw;
        border: solid black 0.4vw;
        padding: 1vw;
    }
    .individual-project>p {
        margin: 2vw 2vw 4vw 3vw;
        text-align: left;
        line-height: 150%;
    }
    #work {
        margin: 4vw;
        border: solid black 1vw;
        border-style: double;
    }
    #work h1 {
        margin: 2vw;
    }
    .individual-work {
        margin: 4vw;
        border: solid black 0.5vw;
    }
    .individual-work .work-title {
        margin: 2vw 4vw 0vw 4vw;
        font-size: 1.2em;
    }
    .individual-work .work-place {
        margin: 0vw 4vw 0vw 4vw;
        font-size: 1em;
    }
    .individual-work .work-period {
        margin: 0vw 4vw 2vw 4vw;
        font-size: 0.9em;
        font-style: italic;
    }
    .individual-work .work-description {
        margin: 2vw 4vw 2vw 4vw;
        line-height: 150%;
    }
    #contact-me {
        margin: 4vw;
        border: solid black 1vw;
        border-style: double;
    }
    #contact-me>h1 {
        margin: 2vw;
        text-align: center;
        font-weight: normal;
    }
    #contact-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #contact-links>* {
        margin: 1vw 4vw 1.5vw 4vw;
        padding: 2vw;
        border: solid black 0.5vw;
        text-align: center;
    }
}


/*
Media query for screen size GREATER THAN 600px
*/

@media all and (min-width: 600px) {
    body {
        margin: 1vw 7vw 10vw 7vw;
    }
    #about-me {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #about-me-text-container {
        margin: 1vw;
        border: solid black 0.5vw;
        border-style: double;
    }
    #about-me-text-container>h1 {
        margin: 1vw;
    }
    #about-me-first-text {
        margin: 2vw 2vw 1vw 2vw;
        line-height: 200%;
    }
    #about-me-text-container>div {
        display: flex;
        flex-direction: column;
    }
    #education>h2,
    #tech-skills>h2 {
        margin: 1vw;
        font-size: 1.2em;
    }
    #education {
        margin-bottom: 2vw;
    }
    #education>p {
        text-align: center;
        line-height: 150%;
    }
    #tech-skills {
        margin-bottom: 0vw;
    }
    #tech-skills>ul>li {
        margin: 1vw 3vw 1vw 3vw;
        line-height: 150%;
    }
    #resume {
        margin: 1vw 3vw 3vw 3vw;
        font-size: 1.2em;
        text-align: center;
    }
    #about-me-img-container {
        display: flex;
        justify-content: center;
        margin: 2vw;
    }
    #about-me-img-container>img {
        height: 25vw;
        border-radius: 50%;
        border: solid black 0.3vw;
        animation: about-me-background 5s ease-in infinite;
        margin: 2vw;
    }
    #projects {
        border: solid black 0.5vw;
        margin: 2vw 2vw 4vw 2vw;
        border-style: double;
    }
    #projects>h1 {
        margin: 2vw 2vw 0vw 2vw;
    }
    #projects>div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .individual-project {
        border: solid black 0.2vw;
        margin: 2vw 2vw 4vw 2vw;
    }
    .individual-project>h2 {
        margin: 1vw 2vw 1vw 2vw;
        text-align: left;
        font-size: 1em;
    }
    .individual-project>a {
        margin: 1vw 2vw 1vw 2vw;
    }
    .individual-project>p {
        margin: 1vw 2vw 3vw 2vw;
        line-height: 150%;
    }
    #work {
        margin: 4vw 2vw 4vw 2vw;
        border: solid black 0.5vw;
        border-style: double;
    }
    #work>h1 {
        margin: 2vw;
    }
    .individual-work {
        margin: 2vw 10vw 4vw 10vw;
        border: solid black 0.2vw;
    }
    .individual-work .work-title {
        margin: 2vw 4vw 0vw 4vw;
        font-size: 1.2em;
        text-align: left;
    }
    .individual-work .work-place {
        margin: 0vw 4vw 0vw 4vw;
        font-size: 1em;
    }
    .individual-work .work-period {
        margin: 0vw 4vw 1vw 4vw;
        font-size: 0.9em;
        font-style: italic;
    }
    .individual-work .work-description {
        margin: 1vw 4vw 2vw 4vw;
        line-height: 150%;
    }
    #contact-me {
        margin: 4vw 2vw 4vw 2vw;
        border: solid black 0.5vw;
        border-style: double;
    }
    #contact-me>h1 {
        margin: 2vw;
        text-align: center;
        font-weight: normal;
    }
    #contact-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #contact-links>* {
        margin: 1vw 2vw 4vw 2vw;
        padding: 2vw;
        border: solid black 0.2vw;
        text-align: center;
    }
}


/*
Media query for screen size GREATER THAN 1200px
*/

@media all and (min-width: 1200px) {
    body {
        margin: 1vw 15vw 10vw 15vw;
    }
    #about-me-img-container>img {
        max-height: 20vw;
    }
}