/*
HEADINGS:
font-family: 'Raleway', sans-serif;

PARAGRAPHS:
font-family: 'Lusitana', serif;
*/

* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
    text-decoration: underline;
    text-underline-offset: 0.5vw;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
}

h3 {
    font-size: 1.6em;
    font-weight: 600;
}

h4 {
    font-size: 1.4em;
    font-weight: 600;
}

p {
    font-size: 1.2em;
    font-family: 'Lusitana', serif;
    margin: 0vw 1.5vw 4vw 1.5vw;
}

hr {
    align-self: center;
}

a {
    font-size: 1.2em;
    padding: 1vw;
    margin: 1vw;
    font-weight: 700;
}

.smaller-text {
    font-size: 1em;
}

.italic {
    font-style: italic;
}

.light-text {
    color: grey;
}

.no-top-margin {
    margin-top: 0vw;
}

.no-bottom-margin {
    margin-bottom: 0vw;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}

#top-buttons {
    margin: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#top-buttons>button {
    border: black solid 0.1vw;
    margin: 0.5vw;
    font-weight: 600;
    height: 12.5vw;
    width: 25vw;
}

#about-me-body,
#education-body,
#skills-body>div,
#portfolio-body>div,
#contact-me-body {
    margin: 2vw 5vw 4vw 5vw;
    border: black solid 0.4vw;
}

#about-me-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#about-me-body>div>img {
    margin: 2vw 0 0 0;
    width: 50vw;
    border: solid black 0.2vw;
    border-radius: 50%;
}

#about-me-body #first-line {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

#education-body #education-fl {
    margin-top: 4vw;
}

#skills-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#skills-body h3 {
    margin: 3vw 0vw 3vw 0vw;
}

#pl-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#pl-box hr {
    margin: 2vw 0vw 4vw 0vw;
    width: 90%;
}

#technology-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#technology-box hr {
    margin: 2vw;
    width: 50%;
}

#technology-box>p {
    margin: 3vw;
}

#portfolio-body h3 {
    margin: 2vw 0vw 1vw 0vw;
}

#contact-me-body>* {
    margin: 5vw 0vw 5vw 0vw;
}

@media only screen and (min-width: 768px) {
    html {
        height: 150vh;
    }
    h1,
    h2,
    h3 {
        text-underline-offset: 0.25vw;
    }
    p {
        margin: 1vw 2vw 2vw 2vw;
    }
    #header h1 {
        margin: 0vw 2vw 0vw 0vw;
    }
    #top-buttons>button {
        margin: 0;
        width: 12.5vw;
        height: 5vw;
        font-size: 1em;
        font-weight: 600;
    }
    #about-me-body,
    #education-body,
    #skills-body>div,
    #portfolio-body>div,
    #contact-me-body {
        margin: 2vw 10vw 0vw 10vw;
        border: black solid 0.2vw;
    }
    #about-me-body {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }
    #about-me-body>div>img {
        width: 30vw;
        border: solid black 0.2vw;
        margin: 2vw;
    }
    #about-me-body #first-line {
        margin: 2vw 0vw 2vw 0vw;
    }
    #education-body #education-fl {
        margin-top: 2vw;
    }
    #skills-body {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }
    #skills-body>div {
        width: 40vw;
        margin: 2vw;
    }
    #skills-body h3 {
        margin: 3vw 1vw 3vw 1vw;
    }
    #pl-box hr {
        margin: 2vw;
        width: 90%;
    }
    #technology-box hr {
        margin: 0vw;
        width: 75%;
    }
    #contact-me-body>* {
        margin: 2vw 0vw 2vw 0vw;
    }
}