    /*
HEADINGS:
font-family: 'Raleway', sans-serif;

PARAGRAPHS:
font-family: 'Lusitana', serif;
*/
    
    * {
        background-color: white;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
    
    h1,
    h2,
    h3 {
        text-decoration: underline;
        text-underline-offset: 0.5vw;
    }
    
    h1 {
        color: red;
        font-size: 2em;
        font-weight: 700;
    }
    
    h2 {
        color: red;
        font-size: 1.8em;
        font-weight: 600;
    }
    
    h3 {
        color: black;
        font-size: 1.6em;
        font-weight: 600;
    }
    
    p {
        color: black;
        font-size: 1.2em;
        font-family: 'Lusitana', serif;
        margin: 0vw 1.5vw 4vw 1.5vw;
    }
    
    a {
        color: blue;
        font-size: 1.2em;
        padding: 1vw;
        margin: 1vw;
        font-weight: 700;
    }
    
    .smaller-text {
        font-size: 1em;
    }
    
    .italic {
        font-style: italic;
    }
    
    .light-text {
        color: grey;
    }
    
    .no-top-margin {
        margin-top: 0vw;
    }
    
    .no-bottom-margin {
        margin-bottom: 0vw;
    }
    
    button:hover {
        background-color: lightblue;
    }
    
    @media only screen and (max-width: 600px) {
        #header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 1vw;
        }
        #top-buttons {
            margin: 1vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        #top-buttons>button {
            border: solid;
            border-width: 0.5vw;
            border-color: black;
            margin: 1vw;
            font-weight: 600;
            height: 10vw;
            width: 25vw;
        }
        #about-me-body,
        #education-body,
        #skills-body>div,
        #portfolio-body>div,
        #contact-me-body {
            margin: 2vw 5vw 4vw 5vw;
            border: solid;
            border-width: 0.5vw;
            border-color: black;
        }
        #about-me-body {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        #about-me-body>div>img {
            margin: 2vw 0 0 0;
            width: 50vw;
            border: solid;
            border-width: 0.5vw;
            border-color: black;
            border-radius: 50%;
        }
        #about-me-body #first-line {
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
        }
        #education-body #education-fl {
            margin-top: 4vw;
        }
        #skills-body {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }
        #skills-body h3 {
            margin: 3vw 0vw 3vw 0vw;
        }
        #portfolio-body h3 {
            margin: 2vw 0vw 1vw 0vw;
        }
        #contact-me-body>* {
            margin: 5vw 0vw 5vw 0vw;
        }
    }
    
    @media only screen and (min-width: 600px) {
        body {
            min-height: 120vh;
        }
        h1,
        h2,
        h3 {
            text-underline-offset: 0.25vw;
        }
        p {
            margin: 1vw 2vw 2vw 2vw;
        }
        #header {
            margin-top: 0;
        }
        #name {
            margin-bottom: 1vw;
        }
        #top-buttons {
            margin-bottom: 1vw;
        }
        #top-buttons>button {
            border: solid;
            border-width: 0.3vw;
            border-color: black;
            margin: 0.5vw;
            width: 17.5vw;
            height: 7.5vw;
            font-size: 1em;
            font-weight: 600;
        }
        #about-me-body,
        #education-body,
        #skills-body>div,
        #portfolio-body>div,
        #contact-me-body {
            margin: 2vw 5vw 0vw 5vw;
            border: solid;
            border-width: 0.3vw;
            border-color: black;
        }
        #about-me-body {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
        }
        #about-me-body>div>img {
            border-color: black;
            width: 25vw;
            border-width: 0.3vw;
            margin: 2vw;
            border-radius: 50%;
        }
        #about-me-body #first-line {
            font-family: 'Raleway', sans-serif;
            font-size: 2em;
            margin: 2vw 1vw 2vw 1vw;
        }
        #education-body #education-fl {
            margin-top: 2vw;
        }
        #skills-body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        #skills-body>div {
            width: 40vw;
            margin: 2vw;
        }
        #skills-body h3 {
            margin: 3vw 1vw 3vw 1vw;
        }
        #portfolio-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        #portfolio-body>div {
            width: 40vw;
            margin: 2vw;
        }
        #portfolio-body h3 {
            margin: 3vw 1vw 0vw 1vw;
        }
        #contact-me-body>* {
            margin: 2vw 0vw 2vw 0vw;
        }
    }
    
    @media only screen and (min-width: 900px) {
        body {
            min-height: 110vh;
        }
        .light-text {
            margin: 1vw;
        }
        body {
            margin-top: 1vw;
            display: grid;
            grid-template-columns: 25vw 70vw;
        }
        #top-buttons>button {
            border: solid;
            border-color: black;
            width: 20vw;
            height: 5vw;
        }
        #skills-body>div {
            width: 30vw;
            margin: 2vw;
        }
        #skills-body h3 {
            margin: 1vw 0vw 2vw 0vw;
        }
        #skills-body p {
            margin-bottom: 1vw;
        }
        #portfolio-body h3 {
            margin: 1vw 1vw 0vw 1vw;
        }
        #portfolio-body>div {
            width: 30vw;
            margin: 2vw;
        }
    }